<%= render 'getting_started' unless @onboarding_complete %>


<% if current_spree_vendor.present? %>
  <div class="h-100 d-flex flex-1 align-items-stretch overflow-y-auto">
    <section class="main-content__body w-100">
      <div class="row">
        <div class="col-3 text-center">
          <div class="card p-3 card-dashboard">
            <h4 class="text-md mb-2">Total Revenue</h4>
            <p class="text-2xl font-bold"><%= number_to_currency @total_revenue %></p>
          </div>
        </div>

        <div class="col-3 text-center">
          <div class="card p-3 card-dashboard">
            <h4 class="text-md mb-2">Revenue Last 12mo</h4>
            <p class="text-2xl font-bold"><%= number_to_currency @last_12_mos %></p>
          </div>
        </div>

        <div class="col-3 text-center">
          <div class="card p-3 card-dashboard">
            <h4 class="text-md mb-2">Last Month's Revenue</h4>
            <p class="text-2xl font-bold"><%= number_to_currency @last_month %></p>
          </div>
        </div>

        <div class="col-3 text-center">
          <div class="card p-3 card-dashboard">
            <h4 class="text-md mb-2">This Month's Revenue To Date</h4>
            <p class="text-2xl font-bold"><%= number_to_currency @this_month %></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4 text-center">
          <div class="card p-3 card-dashboard">
            <h4 class="text-md mb-2">Total Pending Orders</h4>
            <p class="text-2xl font-bold"><%= @total_pending_orders %></p>
          </div>
        </div>

        <div class="col-4 text-center">
          <div class="card p-3 card-dashboard">
            <h4 class="text-md mb-2">Total Completed Orders</h4>
            <p class="text-2xl font-bold"><%= @total_orders %></p>
          </div>
        </div>

        <div class="col-4 text-center">
          <div class="card p-3 card-dashboard">
            <h4 class="text-md mb-2">Total Commissions</h4>
            <p class="text-2xl font-bold"><%= number_to_currency @total_commissions %></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-center">
          <div class="card p-3 card-dashboard">
            <h4 class="text-md mb-2">Total Products</h4>
            <p class="text-2xl font-bold"><%= @total_products %></p>
          </div>
        </div>
        <div class="col-6 text-center">
          <div class="card p-3 card-dashboard">
            <h4 class="text-md mb-2">Total Customers</h4>
            <p class="text-2xl font-bold"><%= @total_customers %></p>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>
