<div class="container-fluid">
  <div class="row py-5">
    <div class="col-12">
      <h1>All Shops in <%= @local_country&.name %></h1>

      <% if @shops.present? %>
        <div class="row py-5">
          <% @shops.each do |shop| %>
            <div class="col-md-3 px-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= shop.name %></h5>
                  <%= link_to 'View Shop', shop_path(shop.slug) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="row py-5">
          <div class="col-6 mx-auto text-center">
            <%= icon name: 'shop', width: 150, height: 150 %>
            <p class="text-xl py-4">Sorry, we couldn't find any shops in <%= @local_country&.name %></p>
            <%= link_to root_path, class: "d-flex justify-content-center align-items-center" do %>
              <i class="bi bi-arrow-left-short icon-md"></i>
              <span>Back to home</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
