<% cache spree_menu_cache_key('footer') do %>
  <footer id="footer" class="footer-spree pt-4">
    <div class="container-fluid">
      <div class="row d-flex py-4 pb-5 mb-5 footer-spree-menu-links">
        <div class="col-3 px-0">
          <div class="footer-spree-label">
            Shop
          </div>
          <div class="pt-2">
            <%= link_to "Sitemap", spree.categories_path %>
          </div>
          <div class="pt-2">
            <%= link_to "Shop on #{current_store.name}", spree.nested_taxons_path('categories') %>
          </div>
          <div class="pt-2">
            <%= link_to "Product Mall US", '/en' %>
          </div>
          <div class="pt-2">
            <%= link_to "Product Mall Germany", '/de' %>
          </div>
          <div class="pt-2">
            <%= link_to "Product Mall Canada", '/ca' %>
          </div>
          <div class="pt-2">
            <%= link_to "Product Mall France", '/fr' %>
          </div>
        </div>

        <div class="col-3 px-0">
          <div class="footer-spree-label">
            Sell
          </div>

          <% if spree_current_user&.vendors.blank? %>
            <div class="pt-2">
              <%= link_to "Sell on #{current_store.name}", spree.sell_path %>
            </div>
          <% end %>

          <div class="pt-2">
            <%= link_to "Affiliates & Creators", spree.affiliates_path %>
          </div>
        </div>

        <div class="col-3 px-0">
          <div class="footer-spree-label">
            About
          </div>
          <div class="pt-2">
            <%= link_to current_store.name, spree.about_path %>
          </div>
        </div>

        <% if spree.respond_to?(:account_path) && try_spree_current_user %>
          <div class="col-3 px-0">
            <div class="footer-spree-label">
              <%= Spree.t('nav_bar.my_account') %>
            </div>
            <div class="pt-2">
              <%= link_to Spree.t(:my_orders), spree.your_orders_path %>
            </div>
          </div>
        <% else %>
          <div class="col-3 px-0">
            <div class="footer-spree-label">
              <%= Spree.t('nav_bar.help_center') %>
            </div>
            <div class="pt-2">
              <%= link_to Spree.t(:help), spree.help_path %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'spree/shared/copyright' %>
  </footer>
<% end %>
