<%# leaving #spree-header div for legacy support  %>
<% cache spree_menu_cache_key("user-#{current_spree_user&.id}-#{current_spree_user&.profile_picture&.id}-header") do %>
  <div id="spree-header">
    <header id="header" class="d-flex flex-md-column align-items-center header-spree border-bottom pt-2">
      <div class="container-fluid header-spree-fluid">
        <div class="d-flex flex-nowrap align-items-center">
          <figure class="logo flex-grow-0 flex-xl-grow-1 order-xl-0 header-spree-fluid-logo m-0">
            <%= logo %>
          </figure>
          <div id="main-nav-bar" class="flex-grow-0 d-none d-md-flex h-100 w-100 header-spree-fluid-primary-navigation mx-4">
            <%= render partial: 'spree/shared/search' %>
          </div>
          <div id="top-nav-bar" class="flex-grow-1 header-spree-fluid-secondary-navigation">
            <%= render partial: 'spree/shared/nav_bar' %>
          </div>
          <%= render partial: 'spree/shared/mobile_navigation' %>
        </div>

        <div id="main-nav-bar" class="flex-grow-0 d-flex d-md-none align-items-center py-2 w-100 header-spree-fluid-primary-navigation">
          <div class="d-md-none flex-grow-1 header-spree-fluid-mobile-menu-toggler me-3">
            <button class="navbar-toggler border-0 px-0 d-flex" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-label="<%= Spree.t('nav_bar.show_menu') %>">
              <%= icon(name: 'burger', width: 18.5, height: 16) %>
            </button>
          </div>
          <%= render partial: 'spree/shared/search' %>
        </div>
      </div>


      <div id="top-nav-bar" class="px-4 flex-grow-1 d-none d-md-flex w-100">
        <%= render partial: 'spree/shared/main_nav_bar' %>
      </div>
    </header>
  </div>
<% end %>
