<% if try_spree_current_user %>
  <li class="ms-0">
    <%= link_to spree.user_profile_path(spree_current_user), class: 'dropdown-item menu-item' do %>
      <div class="wt-icon">
        <% if spree_current_user.profile_picture %>
          <%= image_tag(main_app.cdn_image_url(spree_current_user.profile_picture.attachment), class: 'h-10 w-10 rounded-pill') %>
        <% else %>
          <%= icon(name: 'person', classes: 'd-inline-block', width: 24, height: 24) %>
        <% end %>
      </div>
      <div class="ms-3 wt-flex-grow-xs-1">
        <h4 class="text-title-01 m-xs-0 text-capitalize" aria-label="View your profile">
          <% if try_spree_current_user.first_name.present? %>
            <%= try_spree_current_user.first_name %> <%= try_spree_current_user.last_name %>
          <% else %>
            <%= try_spree_current_user.email %>
          <% end %>
        </h4>
        <p class="text-caption m-xs-0" aria-hidden="true">View your profile</p>
      </div>
    <% end %>
  </li>

  <li class="ms-0">
    <%= link_to spree.your_orders_path, class: 'dropdown-item menu-item' do %>
      <div class="wt-icon">
        <i class="bi bi-journal-text icon"></i>
      </div>
      <div class="ms-3 wt-flex-grow-xs-1">
        <p class="wt-text-caption wt-display-inline wt-m-xs-0">
          Purchases and Reviews
        </p>
      </div>
    <% end %>
  </li>

  <li class="ms-0">
    <%= link_to spree.user_account_path, class: 'dropdown-item menu-item' do %>
      <div class="wt-icon">
        <i class="bi bi-gear icon"></i>
      </div>
      <div class="ms-3 wt-flex-grow-xs-1">
        <p class="wt-text-caption wt-display-inline wt-m-xs-0">
          Account Settings
        </p>
      </div>
    <% end %>
  </li>

  <% if spree_current_user.vendors.blank? %>
    <li class="ms-0">
      <%= link_to spree.edit_user_path(spree_current_user), class: 'dropdown-item menu-item' do %>
        <div class="wt-icon">
          <i class="bi bi-shop icon"></i>
        </div>
        <div class="ms-3 wt-flex-grow-xs-1">
          <p class="wt-text-caption wt-display-inline wt-m-xs-0">
            Sell on <%= Spree::Store.current.name %>
          </p>
        </div>
      <% end %>
    </li>
  <% end %>

  <% if spree.respond_to?(:admin_dashboard_path) && (try_spree_current_user.has_spree_role?(:admin)  || spree_current_user.vendors.any?) %>
    <li class="ms-0">
      <%= link_to spree.admin_dashboard_path(locale: nil), class: 'dropdown-item menu-item', target: "_blank" do %>
        <div class="wt-icon">
          <i class="bi bi-shield-lock icon"></i>
        </div>
        <div class="ms-3 wt-flex-grow-xs-1">
          <p class="wt-text-caption wt-display-inline wt-m-xs-0">Admin Panel</p>
        </div>
      <% end %>
    </li>
  <% end %>

  <li class="ms-0"><hr class="dropdown-divider"></li>
  <li class="ms-0">
    <%= link_to spree_logout_path, class: 'dropdown-item menu-item', method: :get do %>
      <div>
        <span class="wt-icon">
          <%= icon(name: 'logout', classes: 'd-inline-block', width: 24, height: 24) %>
        </span>
      </div>
      <div class="ms-3 wt-flex-grow-xs-1">
        <p class="wt-text-caption wt-display-inline wt-m-xs-0">Sign out</p>
      </div>
    <% end %>
  </li>
<% end %>
