<div class="col-lg-11 mx-auto">
  <h3 class="spree-header pt-5 pb-3"><%= Spree.t(:log_in) %></h3>
  <%= simple_form_for Spree.user_class.new, as: :spree_user, url: spree_login_path, data: { turbo: false } do |f| %>
    <div id="password-credentials" class="mb-4">
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.input :email, input_html: {  class: "spree-flat-input" }, required: true, value: params.dig(:spree_user, :email) %>
        </p>
      </div>
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.input :password, input_html: { class: "spree-flat-input" }, required: true %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.input :remember_me, as: :boolean, inline_label: Spree.t(:remember_me), class: "checkbox inline" %>
      </div>

      <div class="col">
        <% if spree.respond_to?(:recover_password_path) %>
          <div class="text-end forgot-password">
            <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
          </div>
        <% end %>
      </div>
    </div>

    <%= f.submit Spree.t(:login), class: 'btn btn-lg btn-primary btn-block w-100 rounded-pill' %>
  <% end %>
</div>
