<ul id="nav-bar" class="nav align-items-center d-flex flex-nowrap justify-content-end navbar-right" data-turbo-permanent data-turbo-permanent>
  <% if try_spree_current_user && spree_current_user.vendors.present? %>
    <li>
      <%= link_to shop_path(spree_current_user.vendors.first) do %>
        <%= icon(name: 'store', classes: 'd-inline-block', width: 24, height: 24) %>
      <% end %>
    </li>
  <% end %>

  <% if defined?(spree.account_link_path) %>
    <li>
      <div class="dropdown navbar-right-dropdown">
        <button id="account-button" type="button" data-bs-toggle="dropdown" aria-expanded="false" class="navbar-right-dropdown-toggle dropdown-toggle account-icon" aria-label="<%= Spree.t('nav_bar.show_user_menu') %>">
          <%= icon(name: 'person', classes: 'd-inline-block', width: 24, height: 24) %>
        </button>

        <ul id="link-to-account" class="dropdown-menu mt-2">
          <%= render 'spree/shared/link_to_account'  %>
        </ul>
      </div>
    </li>
  <% end %>
  <li id="link-to-cart">
    <%= render 'spree/shared/cart', class: 'd-inline-block cart-icon', size: 24, item_count: 0 %>
  </li>
</ul>
