<ul id="nav-bar" class="nav align-items-center d-flex flex-nowrap justify-content-end navbar-right">
  <% if try_spree_current_user && spree_current_user.vendors.present? %>
    <li>
      <%= link_to shop_path(spree_current_user.vendors.first) do %>
        <%= icon(name: 'store', classes: 'd-inline-block', width: 24, height: 24) %>
      <% end %>
    </li>
  <% end %>

  <% if spree_user_signed_in? %>
    <li>
      <div class="dropdown navbar-right-dropdown nav-link">
        <button id="account-button" type="button" data-bs-toggle="dropdown" aria-expanded="false" class="navbar-right-dropdown-toggle dropdown-toggle account-icon" aria-label="<%= Spree.t('nav_bar.show_user_menu') %>">
          <% if spree_current_user.profile_picture %>
            <%= image_tag(main_app.cdn_image_url(spree_current_user.profile_picture.attachment), class: 'h-8 w-8 rounded-pill') %>
          <% else %>
            <%= icon(name: 'person', classes: 'd-inline-block', width: 24, height: 24) %>
          <% end %>
        </button>

        <ul id="link-to-account" class="dropdown-menu mt-2">
          <%= render 'spree/shared/link_to_account'  %>
        </ul>
      </div>
    </li>
  <% else %>
    <li>
      <%= link_to spree.login_path, class: 'nav-link' do %>
        <%= Spree.t(:login) %>
      <% end %>
    </li>

    <li>
      <%= link_to spree.sell_path, class: 'nav-link' do %>
        Sell on <%= current_store.name %>
      <% end %>
    </li>
  <% end %>

  <li id="link-to-cart">
    <%= render 'spree/shared/cart', class: 'd-inline-block cart-icon', size: 24, item_count: 0 %>
  </li>
</ul>
