<div class="row">
  <div class="col-12 py-5 px-5">
    <div class="row list-unstyled mb-5">
      <div class="pb-3 text-xs-center text-md-left">
        <div class="d-inline-block">
          <h2 class="text-title-xs-02 text-title-md-03">
            Recommended categories for you
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md col-sm-4 pe-3 py-4">
          <div class="justify-content-center h-100">
            <div class="col-12 h-100">
              <div class="card w-100 h-100">
                <div class="h-100 d-flex flex-column justify-content-between">
                  <%= image_tag 'taxons/categories/men.jpg', class: 'w-100 h-100 image-rounded', alt: 'Men Clothes'  %>
                  <a href="<%= spree.nested_taxons_path(@men_taxon) %>" class="card-link d-flex flex-1 justify-content-center align-items-center">
                    <div class="p-2">
                      <p class="text-title-xs-01 text-title-md-02 text-truncate--multi-line text-xs-center">
                        Men Clothes
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-4 px-3 py-4">
          <div class="justify-content-center h-100">
            <div class="col-12 h-100">
              <div class="card w-100 h-100">
                <div class="h-100 d-flex flex-column justify-content-between card__inner">
                  <%= image_tag 'taxons/categories/women.jpg', class: 'w-100 h-100 image-rounded', alt: 'Women Clothes'  %>
                  <a href="<%= spree.nested_taxons_path(@women_taxon) %>" class="card-link d-flex flex-1 justify-content-center align-items-center">
                    <div class="p-2">
                      <p class="text-title-xs-01 text-title-md-02 text-truncate--multi-line text-xs-center">
                        Women Clothes
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-4 px-md-3 py-4 ps-sm-3">
          <div class="justify-content-center h-100">
            <div class="col-12 h-100">
              <div class="card w-100 h-100">
                <div class="h-100 d-flex flex-column justify-content-between">
                  <%= image_tag 'taxons/categories/home-and-living.jpg', class: 'w-100 h-100 image-rounded', alt: 'Home &amp; Living'  %>
                  <a href="<%= spree.nested_taxons_path(@home_taxon) %>" class="card-link d-flex flex-1 justify-content-center align-items-center">
                    <div class="p-2">
                      <p class="text-title-xs-01 text-title-md-02 text-truncate--multi-line text-xs-center">
                        Home &amp; Living
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-4 px-md-3 py-4 pe-sm-3">
          <div class="justify-content-center h-100">
            <div class="col-12 h-100">
              <div class="card w-100 h-100">
                <div class="h-100 d-flex flex-column justify-content-between">
                   <%= image_tag 'taxons/categories/jewelry-and-accessories.jpg', class: 'w-100 h-100 image-rounded', alt: 'Jewelry &amp; Accessories'  %>
                  <a href="<%= spree.nested_taxons_path('categories/jewelry-and-accessories') %>" class="card-link d-flex flex-1 justify-content-center align-items-center">
                    <div class="p-2">
                      <p class="text-title-xs-01 text-title-md-02 text-truncate--multi-line text-xs-center">
                        Jewelry &amp; Accessories
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm-4 px-3 py-4">
          <div class="justify-content-center h-100">
            <div class="col-12 h-100">
              <div class="card w-100 h-100">
                <div class="h-100 d-flex flex-column justify-content-between">
                  <%= image_tag 'taxons/categories/wedding-and-party.jpg', class: 'w-100 h-100 image-rounded', alt: 'Wedding &amp; Party' %>
                  <a href="<%= spree.nested_taxons_path('categories/wedding-and-party') %>" class="card-link d-flex flex-1 justify-content-center align-items-center">
                    <div class="p-2">
                      <p class="text-title-xs-01 text-title-md-02 text-truncate--multi-line text-xs-center">
                        Wedding &amp; Party
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 d-md-none py-4 ps-3">
          <div class="justify-content-center h-100">
            <div class="col-12 h-100">
              <div class="card w-100 h-100">
                <div class="h-100 d-flex flex-column justify-content-between">
                  <%= image_tag 'taxons/categories/toys-and-entertainment.jpg', class: "w-100 h-100 image-rounded", alt: "Toys and Entertainment" %>
                  <a href="<%= spree.nested_taxons_path('categories/toys-and-entertainment') %>" class="card-link d-flex flex-1 justify-content-center align-items-center">
                    <div class="p-2">
                      <p class="text-title-xs-01 text-title-md-02 text-truncate--multi-line text-xs-center">
                        Toys &amp; Entertainment
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 px-0">
    <div class="bg-beeswax-tint position-relative pb-xs-6 overflow-hidden" data-selector="what-is-product-mall-container">
      <span class="edge fill-white edge--smaller edge--ratio-none" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1400 48" preserveAspectRatio="none" aria-hidden="true" focusable="false">
          <path
            d="M1400 0l-55 12-23 10-23 4-6-1-9 1-5 2-24 8h-11l-18-5-11-1-10-1h-7l-8 3-8 1-14-4v1l-3 1-9-5-3-1-17 2-10-1-9-1-8 1-7 1-2 1h-13l-2-1-13-2h-20l-11 2-14 3h-18l-10 1-3-1-2-1-4-1h-4l-16 1h-2l-7-1h-6l-8 1-6-2-5-1-2 1-20-1-10 2h-6l-11-1-9-1h-4l-3 1-19 1h-19l-3-1-11 1h-2l-7 3h-23l-3 1h-19l-16-1-17 1h-8l-2-1-20-2-4 1-4-1h-2l-12 1-2 1h-13l-9 1h-4l-6-1-10 1-9-1h-15l-9 2-12-2-12-2-3 2-5 2-11-3-6 1h-6l-28 1-5 2h-33l-3 1-4 2h-17l-5 1-4-1-7-1h-5l-4 1-13 3-2-2-2-1h-15l-22-1h-2l-11 1h-5l-2-1h-19l-9 1-6-1h-2l-9 2-15 2h-4l-12 1h-25l-12 1-7 1h-4l-4 1h-4l-4 1h-20l-3-1h-7l-1-1v-4l-1 1h-2l-9 1-2 2-6 2-7 1-5 2h-2l-3-2-8-1h-4l-11 3h-1l-3-2-11-3-20-6-9-3h-3l-9 2h-5l-11-4-13-3-11-15-21-4L0 0h1400z"
          ></path>
        </svg>
      </span>
      <span class="edge fill-white edge--smaller edge--ratio-slice" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1400 48" preserveAspectRatio="xMidYMid slice" aria-hidden="true" focusable="false">
          <path
            d="M1400 0l-55 12-23 10-23 4-6-1-9 1-5 2-24 8h-11l-18-5-11-1-10-1h-7l-8 3-8 1-14-4v1l-3 1-9-5-3-1-17 2-10-1-9-1-8 1-7 1-2 1h-13l-2-1-13-2h-20l-11 2-14 3h-18l-10 1-3-1-2-1-4-1h-4l-16 1h-2l-7-1h-6l-8 1-6-2-5-1-2 1-20-1-10 2h-6l-11-1-9-1h-4l-3 1-19 1h-19l-3-1-11 1h-2l-7 3h-23l-3 1h-19l-16-1-17 1h-8l-2-1-20-2-4 1-4-1h-2l-12 1-2 1h-13l-9 1h-4l-6-1-10 1-9-1h-15l-9 2-12-2-12-2-3 2-5 2-11-3-6 1h-6l-28 1-5 2h-33l-3 1-4 2h-17l-5 1-4-1-7-1h-5l-4 1-13 3-2-2-2-1h-15l-22-1h-2l-11 1h-5l-2-1h-19l-9 1-6-1h-2l-9 2-15 2h-4l-12 1h-25l-12 1-7 1h-4l-4 1h-4l-4 1h-20l-3-1h-7l-1-1v-4l-1 1h-2l-9 1-2 2-6 2-7 1-5 2h-2l-3-2-8-1h-4l-11 3h-1l-3-2-11-3-20-6-9-3h-3l-9 2h-5l-11-4-13-3-11-15-21-4L0 0h1400z"
          ></path>
        </svg>
      </span>
      <div class="text-center px-6 mx-6 py-5">
        <h2 class="text-heading-02 mb-1 text-center">What is Product Mall?</h2>
        <a class="text-link" href="<%= about_path %>"> Read our wonderfully weird story </a>

        <div class="row pt-6 text-left mb-7">
          <div class="col-md-4 mt-4">
            <div data-selector="what-is-product-mall-community-impact-container" id="what-is-product-mall-community-impact-container">
              <h3 class="text-title-03 mb-3">A community doing good</h3>

              <p class="text-body-01 d-inline">
                Product Mall is a global online marketplace, where people come together to make, sell, buy, and collect unique items. We’re also a community pushing for positive change for small businesses, people, and the planet.
              </p>
            </div>
          </div>
          <div class="col-md-4 mt-4">
            <h3 class="text-title-03 mb-xs-3">Support independent creators</h3>
            <p class="text-body-01">There’s no Product Mall warehouse – just millions of people selling the things they love. We make the whole process easy, helping you connect directly with makers to find something extraordinary.</p>
          </div>
          <div class="col-md-4 mt-4">
            <h3 class="text-title-03 mb-xs-3">Peace of mind</h3>
            <p class="text-body-01">Your privacy is the highest priority of our dedicated team. And if you ever need assistance, we are always ready to step in for support.</p>
          </div>
        </div>
        <div class="text-center">
          <h4 class="text-title-02">Have a question? Well, we’ve got some answers.</h4>
          <a class="mt-2 btn btn-outline-secondary rounded-pill" href="<%= help_path %>">Go to Help Center</a>
        </div>
      </div>
    </div>
  </div>
</div>
